AUTH_METHOD=genesys # local para dev, para subir usar "genesys"
GENESYS_USER_OAUTH_CLIENT_ID=
GENESYS_USER_OAUTH_CLIENT_SECRET=
GENESYS_SERVICE_CLIENT_ID=
GENESYS_SERVICE_CLIENT_SECRET=
GENESYS_REGION=sae1.pure.cloud
GENESYS_OAUTH_REDIRECT_URI=https://searchaudio-safra.s4me.app/audio/api/auth/genesys/callback
USE_GENESYS=
JWT_SECRET=

 
FRONT_URL=http://localhost:5173/
 
DB_HOST=localhost
DB_PASSWORD=
DB_USERNAME=
DB_DATABASE=
DB_SCHEMA=
DB_PORT=
 
#credenciais do S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=
USE_S3=
