# credenciais genesys cloud
AUTH_METHOD=
GENESYS_CLIENT_ID=
GENESYS_CLIENT_SECRET=

# credenciais do S3 - funcionou
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=
USE_S3=false

# credenciais do banco de dados
DB_HOST=
DB_PASSWORD=
DB_USERNAME=
DB_DATABASE=
DB_SCHEMA=
DB_PORT=